/* feedback.css */
.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2), -2px 0 3px rgba(0, 0, 0, 0.2);
}

.feedback-page {
    width: 80%;
    margin: 0 auto;
    min-height: calc(100vh - 334px);
}

h2 {
  text-align: center;
  margin-bottom: 32px;
}
.add-comment-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 6%;
    padding: 10px;
    margin-top: 10px;
    background-color: #FFFF;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;

    color: black;
    font-size: 22px;
    text-decoration: none;
}

hr {
    width: 70%;
    margin: 10px auto;
    border: none;
    height: 2px;
    background-color: black;
}

.comment-cell {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 70%;
    background-color: #FFFF;
}

.comment-header {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.comment-text {
    margin-top: 5px;
    text-align: center;
}

.comment-cell hr {
    margin: 5px 0;
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
}

.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    width: 15%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.feedback-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  font-size: 4rem;
  margin: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 30px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #0056b3;
    width: 35%;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #000;
    color: #FFFFFF;
}


/* Для экранов шириной до 767px (мобильные устройства) */
@media screen and (max-width: 767px) {
    .feedback-page {
        width: 90%;
    }

    .add-comment-cell {
        width: 80%;
        font-size: 18px;
    }

    .comment-cell {
        width: 80%;
    }

    hr, .comment-cell hr {
        width: 90%;
    }

    .load-more-button {
        width: 60%;
        font-size: 14px;
    }

    .button-container {
        gap: 10px;
    }

    .submit-button {
        width: 100%;
    }

    .star {
        font-size: 3rem;
    }
}

/* Для экранов шириной от 768px до 1024px (планшеты) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .feedback-page {
        width: 80%;
    }

    .add-comment-cell {
        width: 80%;
        font-size: 20px;
    }

    .comment-cell {
        width: 80%;
    }

    hr, .comment-cell hr {
        width: 80%;
    }

    .load-more-button {
        width: 30%;
        font-size: 16px;
    }

    .button-container {
        gap: 50px;
    }

    .submit-button {
        width: 50%;
    }

    .star {
        font-size: 3.5rem;
    }
}